{% extends "base.html" %}{% block content %}
<div class="login-area">
    {% if user %} Hi, {{user}} (<a href="/logout">logout</a>) | <a href="/newpost">Newpost</a>
    {% else %}
    <a class="login-link" href="/login">login</a> |
    <a class="login-link" href="/signup">signup</a> {% endif %}
</div>
{% if not posts %}
    <h2 style="text-align: center;">The blog is empty, write something!</h2>
{% endif %}
{% for post in posts %}
<div class="article">
    <div class="article-subject">
        <h3>Subject: {{post.subject}}</h3>
        <h6>{{post.created}}</h6>
    </div>
    <hr>
    <div class="article-content">
        <p>{{post.content}}</p>
    </div>
    <div class="edit">
        {% if user %}
        <a href="/comment/{{post.key().id()}}">Comment</a> {% endif %}
        {% if user == post.author.user%}
        <a href="/edit/{{post.key().id()}}">Edit</a>
        <a href="/delete/{{post.key().id()}}">Delete</a> {% endif %}
        {% if  user != post.author.user%}
        <a href="/like/{{post.key().id()}}">Like({{post.likes|length}})</a>
        {% endif %}
    </div>
    {% if post.comments.count() > 0 %}
    <div class="comments">
        <h4>comments to post : {{post.subject}}</h4> {% for comment in post.comments %}
        <p>{{comment.text}}</p>
        <div class="edit-comment">
            {% if user == comment.author.user%}
            <a href="/comment_edit/{{comment.key().id()}}">Edit</a>
            <a href="/delete_comment/{{comment.key().id()}}">Delete</a> {% endif %}
        </div>
        <hr> {% endfor %}
    </div>{% endif %}
</div>
{% endfor %} {% endblock content %}
