{% extends "base.html" %} {% block content %}
<form action="" method="post">
    <h2>Login Page</h2>
    <div class="login">
        <label for="">Username: </label>
        <input type="text" name="username">
    </div>
    <div class="password">
        <label for="">Password: </label>
        <input type="password" name="password">
    </div>
    <input type="submit"><a class="login-link" href="/signup">Sign Up</a>
    <div class="error" style="color:red;">
        <h5>{{error}}</h5>
    </div>
</form>
{% endblock %}
